<mat-toolbar color="primary">
    <div style="display:inline-block; width:100%;">
        <div style="float:left;">The Ghost Word Game</div>
        <div style="float:right;color:yellow">By Luism&euml;l Crosby</div>
    </div>
</mat-toolbar>

<div class="container">
    <div fxLayout="row" fxLayoutGap="12px" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="0">
        <mat-card fxFlex="50%">
            <mat-card-content [ngClass]="{'playing': user_playing(), 'not_playing':!user_playing(), 'winner':user_winner(), 'ghost': user_ghost() }">
                <div class="content1">
                    <h2> You </h2>
                    <button mat-fab color="primary" class="score">{{ scores[0] }}</button>
                </div>
                <div fxLayoutGap="12px" fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap.xs="0">
                    <div><strong>Status</strong></div>
                    <div id="status_you">{{status_you}}</div>
                </div>
                <div>
                    <div id="user_entered_letters" style="display: inline-flex;">{{ user_entered_letters }}<input id="content-mobile" *ngIf="not_end() && user_playing()" type="text" size="1" maxlength="1" onchange="if(this.value !== '') {this.value=''}" autofocus /> <span id="user_prompt" [class.blinking]="user_playing()">_</span></div>
                </div>
            </mat-card-content>
        </mat-card>
        <!-- Computer -->
        <mat-card fxFlex="50%">
            <mat-card-content [ngClass]="{'playing': computer_playing(), 'not_playing':!computer_playing(), 'winner':computer_winner(), 'ghost': computer_ghost() }">
                <div class="content1">
                    <h2> Computer </h2>
                    <button mat-fab color="accent" class="score">{{ scores[1] }}</button>
                </div>
                <div fxLayoutGap="12px" fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap.xs="0">
                    <div><strong>Status</strong></div>
                    <div id="status_computer">{{status_computer}}</div>
                </div>
                <div>
                    <div id="computer_entered_letters">{{ computer_entered_letters }} <span id="computer_prompt" [class.blinking]="computer_playing()">_</span></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutGap="12px" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="0" style="margin-top: 20px;">
        <mat-card fxFlex="100%">
            <mat-card-content>
                <div class="content2">
                    <div class="content1">
                        <h2> The Word </h2>
                        <div><strong>Game Status:</strong>
                            <div id="game_status">{{game_status}}</div>
                        </div>
                    </div>
                    <ul id="letters">
                        <li *ngFor="let letter of letters">{{letter}}</li>
                        <li *ngIf="not_end()" class="blinking">_ </li>
                        <li *ngIf="!not_end()">.</li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="container" style="margin-top:20px;">
    <button [disabled]="game_status!=='End'" (click)="reset()" mat-raised-button color="primary">New Game</button> &nbsp;
    <button (click)="reload()" mat-raised-button color="white">Reload</button>
</div>