/*Google fonts*/

@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    padding: 0;
    margin: 0;
}

.content1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

ul {
    font-size: 0;
}

ul#letters li {
    font-size: 94px;
    display: inline-block;
}

.blinking {
    animation: blinkingText 0.8s infinite;
}

.playing {
    border: 5px solid #0a0;
    padding: 20px;
}

.not_playing {
    border: 5px solid #fff;
    padding: 20px;
}

.winner {
    border: 15px dotted blue;
    padding: 20px;
}

.ghost {
    border: 15px dotted yellow;
    padding: 20px;
}

input[type="text"] {
    border: 0;
}

#content-desktop {
    display: block;
}

#content-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    #content-desktop {
        display: none;
    }
    #content-mobile {
        display: block;
    }
}

@keyframes blinkingText {
    0% {
        color: #000;
    }
    49% {
        color: transparent;
    }
    50% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: #000;
    }
}